<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>CHIHUAHUA HEAVEN</title>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="shortcut icon" href="https://static.thenounproject.com/png/3485566-200.png" type="image/x-icon">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
	<!-- nav -->
	<nav class="flex items-center justify-between bg-teal-400 p-2">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<img src="https://static.thenounproject.com/png/3485566-200.png"
				class="rounded-full h-12 w-12 bg-teal-200" />
			<span class="ml-2 text-2xl font-bold">CHIHUAHUA HEAVEN</span>
		</div>
		<div class="flex items-center justify-center">
			<img src="/images/bell.svg" alt="bell" class="w-10 h-10 p-2 mx-2 rounded-full bg-teal-300">
			<img src="/images/message.svg" alt="message" class="w-10 h-10 p-1 mx-2 rounded-full bg-teal-300">
			<img src="/images/down.svg" alt="down" class="w-10 h-10 p-1 mx-2 rounded-full bg-teal-300">
		</div>
	</nav>

	<!-- cards wrap -->
	<div class="relative mt-6" id="container" style="height: calc(100vh - 88px);"></div>
	<script src="/javascripts/index.js"></script>
</body>

</html>